html,body{
  color: #fff;
  text-align: center;
  height: 100%;
  background-color: #333;
  font-family: Arial;
  text-shadow:0px 1px 3px rgba(0,0,0,0.5);
}
.wrapper{
  display: table;
  min-height: 100%;
  height:100%;
  width: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.wrapper-inner{
  vertical-align: middle;
  display: table-cell;
}
.container,.masthead,.mastfoot{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.masthead{
  top: 0px;
  position: fixed;
}
.inner{
  padding: 30px;
}


.content{
  padding: 0px 20px 0px 20px;
}
.mastfoot{
  bottom: 0px;
  position: fixed;
  color: #999;
  color: rgba(255,255,255,0.5);
}
.masthead-brand{
  margin-top:10px;
  margin-bottom: 10px; 
}
a,
a:focus,
a:hover {
  color: #fff;
}

#result{
  font-size: 26px;
  padding: 5px;
  border: dashed 3px #fff;
  text-align: center;
  width: 500px;
  margin-left:auto;
  margin-right: auto; 
  margin-bottom: 50px;
  overflow: auto;
}
.lead{
  padding-bottom: 30px;
  font-size: 30px;
}

button{
  border: none;
  background: none;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
}
#button-container{
  position: relative;
}
#btngenerate{
  position: absolute;
  padding: 5px;
  border-radius: 2em;
  height: 42px;
  line-height: 15px;
  left:50%;
  margin-left:-65px; 
}

#btngenerate:hover,
#btngenerate:focus{
  color: #fff;
  background-color: #333;

}


.btn-default,
.btn-default:hover,
.btn-default:focus{
  color: #333;
  text-shadow:none;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}
.btn-lg{
  padding: 10px 20px;
  font-weight: bold;
}
/*label*/
label{
  width: 70px;
  float: left;
}
select{
  margin-left: 1em;
}

#number_of_words{
  background: #333;
  border: solid 1px white;
  width: 45px;
  color: white;
}
#number_of_words{
  margin-bottom: 10px;
}
.btnmargin{
  margin-bottom: 0px;
  padding-bottom:10px; 
}
.btn-setting{
  display: block;
  border-radius: 40px;
  float: left;
  width: 80px;
  height: 30px;
  margin-left:70px; 
  padding: 5px;
  font-size: 20px;
  margin-top: 0px;
  background: rgba(255,255,255,0);
  color: white;
}
.setting{
  /*display: none;*/
  float: left;
  display: block;
  margin-left: 70px;
  padding-top: 0px;
  padding-bottom: 5px;

}
.field{
  display: block;
  padding: 0.5em;
  text-align: left;
}
#result,fieldset{
  width:500px; 
  margin-left: auto;
  margin-right: auto;
}
fieldset{
  display: none;
}