*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #BEC3C6;
	color:#555;
	font-family: 'Open Sans','Helvetica Neue',"Hiragino Sans GB",sans-serif, Arial,/*'Microsoft YaHei',*/Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif;
	font-size:16px;
}
h1,h2,h3,h4{
	font-weight: bold;
	padding-bottom: 10px;
	font-family: 'Microsoft YaHei',Arial;
}
#container{
	margin: auto;
	width: 1100px;
	background: url("img/main_shadow.gif") repeat-x scroll center top #FAFAFA;
	width: 780px;
	padding:6px 10px 10px;
	margin-top: 10px;
}

#main{
	background: none repeat scroll 0% 0% #FFF;
	padding: 8px;
	line-height: 1.7;
	font-weight: 400;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	
}

h1{
	font-size: 260%;
}
h2{
	font-size: 170%;
	display: block;
	border-width: 1px;
	border-style:solid;
	border-color: #FFF #CCC;
	padding: 8px;
	background: none repeat scroll 0% 0% #EEE; 
	margin-left: 0px;
	margin-bottom: 0px;
}
h3{
	font-size: 150%;
	margin: 40px 0px 10px 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	letter-spacing: 3px;
	color: green;
	border-left: green solid thick;
	background-color: #EEE;
}
.alignleft{
	float: left;
	margin-right: 20px;
}
li{
	padding-bottom: 10px;
}
hr{
	margin-top: 10px;
}